<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h1 class="panel-title pull-left">Contacts</h1>
        <button class="btn btn-success pull-right" [routerLink]="['new']">
          New Contact
        </button>
      </div>
      <div class="panel-body">
        <app-contact-item
          *ngFor="let contactEl of contacts"
          [contact]="contactEl"
        >
        </app-contact-item>
      </div>
    </div>
  </div>
</div>
