<div class="row" *ngIf="contact">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">

          <h3 class="panel-title pull-left" style="margin-top: 10px;">{{ contact.name }}</h3>

          <div class="pull-left" style="margin-left: 15px;">
            <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-thumbnail" style="max-width: 60px; max-height: 60px;">
          </div>

          <div class="btn-group pull-right" style="margin-top: 5px;">
            <button class="btn btn-primary" style="margin-right: 5px;">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
  
        <div class="panel-body">
          <p><strong>Email:</strong> {{ contact.email }}</p>
          <p><strong>Phone:</strong> {{ contact.phone }}</p>
        </div>
      </div>
    </div>
  </div>
  